.commentDialogWrapper {
	display: flex;
	flex-direction: column;
	z-index: 999;
	position: fixed;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: black;
	padding: 1rem 2rem 2rem 2rem;
	border: 1px solid #252525;
	border-radius: 8px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 998;
	pointer-events: none;
}

.comment {
	display: grid;
	grid-template-columns: 50px 1fr;
	grid-template-rows: auto 30px;
	gap: 1rem;
	padding: 1rem 1rem;
	margin-right: 5rem;
	border: 1px solid #252525;
	width: 100%;
	border-radius: 8px;
}

.profilePic {
	border-radius: 36px;
	height: 72px;
	width: 72px;
}

.replyContent {
	padding: 1rem 0 2rem 0;
	width: 95%;
	border: none;
	outline: none;
	resize: none;
	border-radius: 4px;
	line-height: 1.2rem;
	font-family: Helvetica;
	background-color: inherit;
	border-bottom: 1px solid #252525;
	margin-left: 2.25rem;
}

.replyContent::placeholder {
	font-family: Helvetica;
	letter-spacing: 0.1rem;
}

.replyBtn {
	grid-column: 2 / -1;
	width: 70px;
	padding: 0.25rem 0.25rem;
	border-radius: 22px;
	margin-left: auto;
	border: none;
	background-color: #1da1f2;
	transition: all 0.35s ease-in-out;
}

.replyBtn:hover {
	cursor: pointer;
	background-color: #1890d1;
}

.exit {
	position: relative;
	right: 15px;
	height: 24px;
	width: 24px;
	margin-right: auto;
	margin-bottom: 0.75rem;
	color: white;
	transition: all 0.35s ease-in-out;
}

.exit:hover {
	cursor: pointer;
	color: #1da1f2;
	transform: scale(1.1);
}
