.home {
	min-height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-columns: minmax(140px, 300px) 1fr;
}

.home.expanded {
	grid-template-columns: minmax(290px, 350px) 1fr;
}

.sidebar {
	grid-column: 1 / 2;
}

.contentWrapper {
	grid-column: 2 / -1;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: calc(20vw - 10rem);
	border-left: 1px solid #252525;
	border-right: 1px solid #252525;
	height: 100vh;
}

.content {
	width: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.feed {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: black;
	width: clamp(680px, 770px, 900px);
}
