.sidebar {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.25rem;
	padding: 2rem 2rem 2rem 4rem;
	border-right: 1px solid #252525;
}

.sidebar > * {
	transition: 0.35s all ease;
	padding: 0.5rem;
	border-radius: 32px;
}

.sidebar > *:hover:nth-child(1) {
	color: #1da1f2;
}

.sidebar > *:hover {
	cursor: pointer;
	background-color: rgb(153, 153, 153, 0.2);
}
